html {
  height: 100px;
  width: 350px;
}

body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

ul {
    list-style-type: none;
}

li {
  font-size: x-small;
}

#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.layout-right {
    float: right;
    margin-right:10px;
    margin-top:20px;
}

#list li a{
  font-weight: bold;
  text-decoration: none;
}

#list li:before {
    content: "\2765"; /* unicode number*/
    padding-right: 8px;
    color: #3F51B5;
}
